@import '../../index.scss';

.header {
    display: flex;
    background-color: #364051;
    justify-content: space-between;
    padding: 0 $l-size;

    .header__title {
        color: white;
        text-decoration: none;
        margin: 0;
        line-height: 1;
        padding: 0;
    }

    .header__button {
        background: none;
        border: none;
        color: white;
        font-size: $l-size;
        font-weight: 300;
        line-height: 1;
        padding: 0;
    }
}